widgets/com.mendix.widget.native.Feedback.mpk filter=lfs diff=lfs merge=lfs -text
widgets/com.mendix.widget.web.DatagridDateFilter.mpk filter=lfs diff=lfs merge=lfs -text
widgets/ListViewControls.mpk filter=lfs diff=lfs merge=lfs -text
widgets/mendixcn.FileViewer.mpk filter=lfs diff=lfs merge=lfs -text
widgets/ProgressCircle.mpk filter=lfs diff=lfs merge=lfs -text
widgets/Pusher.mpk filter=lfs diff=lfs merge=lfs -text
widgets/com.mendix.widget.web.Datagrid.mpk filter=lfs diff=lfs merge=lfs -text
widgets/com.mendix.widget.web.DatagridDropdownFilter.mpk filter=lfs diff=lfs merge=lfs -text
widgets/Badge.mpk filter=lfs diff=lfs merge=lfs -text
widgets/Charts.mpk filter=lfs diff=lfs merge=lfs -text
widgets/com.mendix.widget.web.DatagridNumberFilter.mpk filter=lfs diff=lfs merge=lfs -text
widgets/com.mendix.widget.web.DatagridTextFilter.mpk filter=lfs diff=lfs merge=lfs -text
widgets/com.mendix.widget.web.Timeline.mpk filter=lfs diff=lfs merge=lfs -text
widgets/Maps.mpk filter=lfs diff=lfs merge=lfs -text
widgets/ProgressBar.mpk filter=lfs diff=lfs merge=lfs -text
widgets/SprintrFeedbackWidget.mpk filter=lfs diff=lfs merge=lfs -text
widgets/StarRating.mpk filter=lfs diff=lfs merge=lfs -text
widgets/Switch.mpk filter=lfs diff=lfs merge=lfs -text
